{% extends "_layout.html" %}
{% load staticfiles i18n %}

{% block main_content %}
  <div class="ui page stackable grid">
    <div class="sixteen wide column">
      <h1 class="ui center aligned icon header">
        <i class="circular users icon"></i>
        {% trans 'Welcome to amiibofindr!' %}
      </h1>
    </div>

    <div class="four wide column">
      <img src="http://placehold.it/300x300" class="ui image">
    </div>
    <div class="nine wide column">
      <h2>{% lorem 6 w random %}</h2>
      {% lorem 1 p %}
    </div>

    <div class="three wide column"></div>
    <div class="three wide column"></div>

    <div class="nine wide column">
      <h2>{% lorem 6 w random %}</h2>
      {% lorem 1 p %}
    </div>
    <div class="four wide column">
      <img src="http://placehold.it/300x300" class="ui image">
    </div>

    <div class="four wide column">
      <img src="http://placehold.it/300x300" class="ui image">
    </div>
    <div class="nine wide column">
      <h2>{% lorem 6 w random %}</h2>
      {% lorem 1 p %}
    </div>

    <div class="three wide column"></div>
    <div class="three wide column"></div>

    <div class="nine wide column">
      <h2>{% lorem 6 w random %}</h2>
      {% lorem 1 p %}
    </div>
    <div class="four wide column">
      <img src="http://placehold.it/300x300" class="ui image">
    </div>


  </div>
{% endblock %}
