{% load staticfiles thumbnail i18n %}
<div class="ui link card
            {% if amiibo.pk in USER_AMIIBO_OWNED %}green{% endif %}
            {% if amiibo.pk in USER_AMIIBO_WISHLIST %}yellow{% endif %}
            {% if amiibo.pk in USER_AMIIBO_TRADE %}teal{% endif %}" data-amiibo-names="{{ amiibo.get_all_names|lower }}" data-href="{{ amiibo.get_absolute_url }}">
  <div class="image">
    <div class="ui fluid image">
      {% if amiibo.is_card %}
        <img src="{% thumbnail amiibo.image "240x340" crop %}" alt="{{ amiibo.name }}">
      {% else %}
        <img src="{% thumbnail amiibo.image "340x340" crop %}" alt="{{ amiibo.name }}">
      {% endif %}
    </div>
  </div>
  <div class="content text-center">
    <div class="header">{{ amiibo.name }}</div>
  </div>
</div>
