{% load i18n %}

{% if amiibo.pk in USER_AMIIBO_OWNED %}
  <a href="{% url 'amiibo:user-action' amiibo=amiibo.pk action='+-trade' %}"
     class="ui icon button tiny {% if amiibo.pk in USER_AMIIBO_TRADE %}teal{% endif %}">
    <i class="{% if amiibo.pk in USER_AMIIBO_TRADE %}check{% else %}cancel{% endif %} icon"></i>
    <i class="ui icon retweet"></i>
  </a>
  <a href="{% url 'amiibo:user-action' amiibo=amiibo.pk action='-owned' %}"
     class="ui button icon red tiny"><i class="ui icon cancel"></i></a>
{% else %}
  <a href="{% url 'amiibo:user-action' amiibo=amiibo.pk action='+owned' %}"
     class="ui button icon  tiny"><i class="ui icon check"></i></a>
  {% if amiibo.pk in USER_AMIIBO_WISHLIST %}
    <a href="{% url 'amiibo:user-action' amiibo=amiibo.pk action='-wishlist' %}"
       class="ui button icon yellow tiny"><i class="ui icon star"></i></a>
  {% else %}
    <a href="{% url 'amiibo:user-action' amiibo=amiibo.pk action='+wishlist' %}"
       class="ui icon button tiny"><i class="ui icon star"></i></a>
  {% endif %}
{% endif %}
