{% load static i18n account %}
{% user_display user as user_display %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{% static "css/style.css" %}" charset="utf-8">
    <!-- SEO -->
    <meta name=”description” content=”{% block meta_description %}Amiibofindr{% endblock %}”>
    <!-- Twitter -->
    <meta content="{% block meta_twitter_card %}summary{% endblock %}" name="twitter:card" />
    <meta content="{% block meta_twitter_title %}{% endblock %}" name="twitter:title" />
    <meta content="{% block meta_twitter_description %}{% endblock %}" name="twitter:description" />
    <meta content="{% block meta_twitter_image %}{% endblock %}" name="twitter:image:src" />
    <meta content="{% block meta_twitter_url %}{% endblock %}" property="twitter:url" />
    <!-- Facebook -->
    <meta content="{% block meta_og_title %}{% endblock %}" property="og:title" />
    <meta content="{% block meta_og_type %}object{% endblock %}" property="og:type" />
    <meta content="{% block meta_og_image %}{% endblock %}" property="og:image" />
    <meta content="{% block meta_og_url %}{% endblock %}" property="og:url" />
    <meta content="{% block meta_og_description %}{% endblock %}" property="og:description" />
    <title>{% block page_title %}AmiiboFindr{% endblock %}</title>
  </head>

  <body data-views="{% block js_views %}money{% endblock %}">
    <div class="ui page grid">
      <div class="computer tablet only row">
        <div class="ui large menu navbar">
          <a href="/" class="brand item">Amiibofindr</a>
          <div class="ui dropdown item">
            {% trans "Figures" %}
            <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item" href="/">{% trans "All" %}</a>
              <div class="ui divider"></div>
              {% for col in COLLECTIONS_FIGURES %}
                <a class="item" href="{{ col.get_absolute_url }}">{{ col.name }}</a>
              {% endfor %}
            </div>
            {% comment %}
            <div class="ui dropdown item">
            {% trans "Cards" %}
            <i class="dropdown icon"></i>
            <div class="menu">
            <a class="item" href="#">{% trans "All" %}</a>
            {% for col in COLLECTIONS_CARDS %}
            <a class="item" href="{{ col.get_absolute_url }}">{{ col.name }}</a>
            {% endfor %}
            </div>
            </div>
            <div class="right menu"></div>
            {% endcomment %}
          </div>
          <div class="right menu">
            {% if user.is_authenticated %}
              <div class="ui dropdown item">
                <i class="icon user"></i> {{ user_display }}
                <i class="dropdown icon"></i>
                <div class="menu">
                  <a class="item" href="{% url 'account_change_password' %}">{% trans "Change password" %}</a>
                  <a class="item" href="{% url 'account_email' %}">{% trans "Emails" %}</a>
                  <div class="ui divider"></div>
                  <a class="item" href="{% url 'account_logout' %}">{% trans "Log out" %}</a>
                </div>
              </div>
            {% else %}
              <div class="ui item">
                <a href="{% url 'account_login' %}">{% trans "Login" %}</a>
              </div>
              <div class="ui item">
                <a href="{% url 'account_signup' %}">{% trans "Register" %}</a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="mobile only narrow row">
        <div class="ui large navbar menu">
          <a href="" class="brand item">Amiibofindr</a>
          <div class="right menu">
            <a href="#" class="item toggle-menu">
              <i class="sidebar icon"></i>
            </a>
          </div>
        </div>
        <div class="ui vertical menu responsive-menu">
          <div class="ui item">
            <div class="text">{% trans 'Figures' %}</div>
            <div class="menu">
              <a class="item" href="/">{% trans "All" %}</a>
              <div class="ui divider"></div>
              {% for col in COLLECTIONS_FIGURES %}
                <a class="item" href="{{ col.get_absolute_url }}">{{ col.name }}</a>
              {% endfor %}
            </div>
            {% comment %}
            <div class="ui dropdown item">
            {% trans "Cards" %}
            <i class="dropdown icon"></i>
            <div class="menu">
            <a class="item" href="#">{% trans "All" %}</a>
            {% for col in COLLECTIONS_CARDS %}
            <a class="item" href="{{ col.get_absolute_url }}">{{ col.name }}</a>
            {% endfor %}
            </div>
            </div>
            <div class="right menu"></div>
            {% endcomment %}
          </div>
        </div>
      </div>
      <div class="ui breadcrumb">
        {% block breadcrumb %}
          <a class="section" href="{% url 'amiibo:collection' 'all' %}">Home</a>
        {% endblock %}
      </div>
    </div>

    {% if messages %}
      <div class="ui page grid">
        <div class="sixteen wide column">
          {% for message in messages %}
            <div class="ui message {{ message.tags }}">{{ message }}</div>
          {% endfor %}

        </div>
      </div>
    {% endif %}

    {% block main_content %}{% endblock %}
    <div class="ui stackable page grid">
      <hr >
      <div class="four wide column">
        <h4>{% trans "Select desired currency" %}</h4>
        <div class="ui link list">
          {% for currency in CURRENCIES %}
            <a class="item" href="#" data-currency-change="{{ currency }}">{{ currency }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="four wide column left aligned"></div>
      <div class="four wide column left aligned"></div>
      <div class="four wide column left aligned">
        <h4>AmiiboFindr</h4>
        <div class="ui link list">
          <a href="https://twitter.com/amiibofindr" target="_blank"><i class="ui icon twitter"></i>Twitter</a>
        </div>
      </div>
    </div>
    {% if not DEBUG %}
      <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
           (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
       ga('create', 'UA-64407848-1', 'auto');
       ga('send', 'pageview');
      </script>
    {% endif %}
    <script type="text/javascript">
     var DEBUG = {{ DEBUG|yesno:"true,false" }};
     var MEDIA_URL = '{{ MEDIA_URL }}';
     var CURRENCIES = ['{{ CURRENCIES|join:"', '" }}'];
    </script>
    <script type="text/javascript" src="{% static "dist/app.js" %}" async defer></script>
  </body>
</html>
