{% load static i18n %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{% static "css/style.css" %}" charset="utf-8">
	<title>{% block page_title %}AmiiboFindr{% endblock %}</title>
</head>

<body>
	<div class="ui page grid">
		<br />
		<div class="sixteen wide column">
			<div class="ui large menu">
				<a class="item" href="/">
					<i class="home icon"></i> AmiiboFindr
				</a>
				<div class="ui dropdown item">
					{% trans "Collections" %}
					<i class="dropdown icon"></i>
					<div class="menu">
						<a class="item" href="#">{% trans "All" %}</a> {% for col in collections %}
						<a class="item" href="{{ col.get_absolute_url }}">{{ col.name }}</a> {% endfor %}
					</div>
				</div>
				<div class="right menu"></div>
			</div>
        <div class="ui breadcrumb">
          {% block breadcrumb %}
  				<a class="section">Home</a>
          {% endblock %}
  			</div>
		</div>
		{% block main_content %}{% endblock %}
	</div>
	<script type="text/javascript" src={% static "dist/app.js" %}></script>
</body>

</html>
