{% extends "_layout.html" %}
{% load i18n staticfiles %}

{% block page_title %}{% blocktrans with collection=selected_collection.name amiibo=amiibo.name %}{{ amiibo }} amiibo from {{ collection }} in {% endblocktrans %}{{ block.super }}{% endblock %}


{% block breadcrumb %}
{{ block.super }}
<i class="right chevron icon divider"></i>
<a class="section" href="{{ selected_collection.get_absolute_url }}">{{ selected_collection.name }}</a>
<i class="right chevron icon divider"></i>
<span class="active section">{{ amiibo.name }}</span>
{% endblock %}

{% block main_content %}
<div class="ui page grid">
  <div class="five wide column">
    <div class="ui card">
      <a class="image">
        <img src="{% static amiibo.image_statue %}" />
      </a>
      <div class="content">
        <!-- <i class="right floated like icon"></i> -->
        <!-- <i class="right floated star icon"></i> -->
        <div class="header">{{ amiibo.name }}</div>
        <div class="meta">
          <a href="{{ amiibo.collection.get_absolute_url }}">{{ amiibo.collection.name }}</a>
        </div>
        <!-- <div class="description">
          <p>asd</p>
        </div> -->
      </div>
      <!-- <div class="extra content">
        <span class="left floated like">
          <i class="like icon"></i>
          Like
        </span>
        <span class="right floated star">
          <i class="star icon"></i>
          Favorite
        </span>
      </div> -->
    </div>
  </div>
  <div class="eleven wide column">
    <table class="ui celled table">
      <thead>
        <tr>
          <th>{% trans "Shop" %}</th>
          <th class="center aligned">{% trans "Stock" %}</th>
          <th class="center aligned">{% trans "Price" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for relation in amiibo.shops_set.all %}
        <tr>
          <td><a href="{{ relation.url }}">{{ relation.shop.name }}</a></td>
          <td class="center aligned {{ relation.stock|yesno:'positive,negative'}}">
            <i class="icon {{ relation.stock|yesno:'checkmark,close' }}"></i>
            {{ relation.stock|yesno }}
          </td>
          <td class="center aligned">{{ relation.last_price.price }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
