{% extends "_layout.html" %}
{% load i18n staticfiles %}

{% block page_title %}{% blocktrans with collection=selected_collection.name amiibo=amiibo.name %}{{ amiibo }} amiibo from {{ collection }} in {% endblocktrans %}{{ block.super }}{% endblock %}


{% block breadcrumb %}
{{ block.super }}
<i class="right chevron icon divider"></i>
<a class="section" href="{{ selected_collection.get_absolute_url }}">{{ selected_collection.name }}</a>
<i class="right chevron icon divider"></i>
<span class="active section">{{ amiibo.name }}</span>
{% endblock %}

{% block main_content %}
<ul class="uk-subnav uk-subnav-pill">
    {% for collection in collections %}
    <li {% if selected_collection.slug == collection.slug %}class="uk-active"{% endif %}>
        <a href="{{ collection.get_absolute_url }}">{{ collection.name_eu }}</a>
    </li>
    {% endfor %}
</ul>
    {{ amiibo }}
    <img src="{% static amiibo.image_statue %}" />
{% endblock %}
