{% extends "account/_layout.html" %}

{% load account %}
{% load i18n %}

{% block page_title %}{% trans "Password Reset" %} | {{ block.super }}{% endblock %}

{% block main_content %}
  <div class="ui page stacked grid centered">
    <div class="ten wide column">
      <h1>{% trans "Password Reset" %}</h1>

      {% if user.is_authenticated %}
        <div class="ui message red">
          {% include "account/snippets/already_logged_in.html" %}
        </div>
      {% else %}
        <div class="ui message green">
          <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
