// Semantic-UI
@import "../semantic/semantic.min.css";


.price-converted {
    font-style: italic;

    &:before {
        content: '~';
    }
}

.underlined {
    text-decoration: underline;
}

.float-right {
    float: right;
}

.text-center {
    text-align: center;
}

.responsive-menu {
    margin-top: -10px !important;
    width: 100% !important;
    display: none;
}

.navbar {
    margin-top: 10px !important;
}

.nowrap {
    white-space: nowrap;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.relation-buttons {
    position: absolute;
    left: 6px;
    right: 6px;
    bottom: 6px;
    width: 100%;
    text-align: center;
    z-index: 30;
}

.menu.fixzindex { z-index: 61 !important; }

.ui.tabular.menu .item {
    cursor: pointer;
}